<!DOCTYPE html>
<html>
<head>
  <title>Danh sách người dùng</title>
</head>
<body>
  <h1>Danh sách người dùng</h1>
  <ul>
    <% users.forEach(user => { %>
      <li><%= user.name %> - <%= user.email %></li>
